/*Default Styles*/
.column{
    float: left; /*Universal unless overridden*/
    width:100%; /*Universal unless overridden*/
    
    /*Mobile applicable Styles*/
    height: 50px;
    background-color: #000;
    margin: 10px 0;
}

/*Media Queries in wrong order. last query is never interrogated as it's 
coverd by the Desktop Query. The order of queries is an important thing to 
keep an eye on.*/


/*Desktop*/
@media (min-width: 992px) {
    .column {
        background-color: #0997d3;
        width: 30%;
        margin: 10px;
    }
}

/*Tablet*/
@media (min-width: 768px) {
    .column {
        background-color: #e84610;
        width: 30%;
        margin: 10px;
    }
}

